<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueille</title>
</head>
<body>
    <div style="width: 50%; margin: auto; ">
        <%- include('header')%>
        <section>
            <form action="/nodes" method="post" >
                <input type="hidden" name="id" id="id">
                <label for="titre">Titre</label><br>
                <input type="text" name="titre" id="titre"><br>
                <label for="description">discription</label><br>
                <textarea name="description" id="description" cols="30" rows="10"></textarea><br>
                <input type="submit" value="envoyez">
            </form>
            <p>-----------------------------------------------------------------------------------</p>
        </section>
        <section>
            <h2>list des note</h2>

                <% for(let i = 0; i < resultat.length; i++) { %>
                    <h3>
                        <%= resultat[i].titre %>
                    </h3>
                    <p>
                         <%= resultat[i].description %>
                    </p>
                    <input type="button" value="Supprimer" onclick="Supprimer('<%= resultat[i].id %>')">
                    <input type="button" value="Modifier" onclick="remplirDonnees('<%= resultat[i].id %>','<%= resultat[i].titre %>','<%= resultat[i].description %>')">
                    
                <% } %>

        </section>

    </div>
</body>
</html>

<script>
    function remplirDonnees(id,titre,description) {
        document.getElementById('id').value = id;
        document.getElementById('titre').value = titre;
        document.getElementById('description').value = description;
      
    }

    function Supprimer(id) {
        let pointfinal = "nodes/" + id
        fetch(pointfinal,{method:'DELETE'}).then((reponse)=>reponse.json()).then((donnee)=>window.location.href=donnee.routeRacine).catch((erreur)=>console.log(erreur)
        );
        
    }
    
</script>